<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <title>La République En Marche (Arrière) !</title>
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>" />
    <!-- jss-insertion-point -->
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.production.min.js"></script>
    <script src="/<%= htmlWebpackPlugin.files.js[0] %>"></script>
  </body>
</html>
